.header {
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100%;
    background-color: #000;
    border-radius: 0 0 .5rem .5rem ;
}

.header-inner {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-inner {
    font-size: 4rem;
    color: var(--white);
    font-family: 'grotesque-basis';
    letter-spacing: .5rem;
    cursor: pointer;
}

.logo-container {
    display: flex;
    justify-content: center;

    p {
        color: var(--grey-300);
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 1.5px;
    }
}

.nav-container {
    display: flex;
    justify-content: space-between;
    gap: .5rem;

    li {
        color: var(--grey-300);
        font-weight: bold;
    }
}

.caption {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'grotesque-basis';
    letter-spacing: 2px;
}